<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<target xsi:type="File" 
				name="allfile" 
				fileName="${gdc:item=appbasepath}/Logs/${shortdate}.log"
				layout="${longdate} [${level:uppercase=true}] ${callsite}: ${message}${newline}${exception:format=ToString,StackTrace} ${newline}" 
				archiveAboveSize="1048576"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Error" writeTo="allfile" />
	</rules>
</nlog>